body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:hover h1 {
    background-color: #007F2E;
}

.fondo-empleados {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../pics/huertourbano.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.logo-harvey {
    opacity: 0.75;
}

.contenedor-empleados {
    background: #fff;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #005B1C;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 98%;
    display: block;
}


h2 {
    color: #007F2E;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    list-style: none;
}

li {
    padding: 12px 20px;
    background-color: #005B1C;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #007F2E;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-align: center;
    width: auto;
}

#secciones_empleados {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#secciones_empleados img {
    width: 350px;
}

.btn-salir {
    display: block;
    margin: 30px auto 0;
    background-color: #e74c3c;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn-salir:hover {
    background-color: #c0392b;
}

@media screen and (max-width: 900px) {

    h1 {
        width: 90%;
    }

    .contenedor-empleados {
        width: 80%;
        padding: 30px;
    }

    #secciones_empleados {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #secciones_empleados img {
        width: 80%; 
        max-width: 250px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        width: 90%;
        font-size: 22px;
        padding: 10px;
    }

    .contenedor-empleados {
        width: 80%;
        padding: 20px;
    }

    ul {
        flex-direction: column; 
        gap: 12px;
    }

    a {
        font-size: 16px;
        padding: 12px;
        width: auto;
    }

    .btn-salir {
        font-size: 16px;
        width: 90%;
        padding: 10px;
    }
}

