   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #fff;  
    border-bottom: 1px solid #ccc; 
    width: 100%;
  }
  
  header > div {

    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0.75rem 1rem;
  }
  
  header button {
    background: #005B1C;
    color: #F2E6CD;
    padding: 0.5rem 0.5rem;
    border: solid 2px #005B1C;
    border-radius: 4px;
    cursor: pointer;
  }

  header button:hover {
    background: #F2E6CD;
    color: #005B1C;
    border: solid 2px #005B1C;
  }

  header a img {
    height: 40px;
    width: auto;
  }
  
  .secciones {
    font-size: 1.2rem; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    height: 38px;
    margin-bottom: 3px;
  }
  
  .secciones i {
    font-size: 1.3rem; 
  }
  
  #busqueda {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    width: 100%;
  }
  
  .campo-busqueda {
    padding: 0.4rem 0.6rem;
    border: 1px solid #005B1C;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
    outline: none;
    flex-grow: 1;
    margin-bottom: 3px;
  }
  
  .btn-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 0 4px 4px 0;
    height: 34px;
    margin-bottom: 3px;
  }
  
  .btn-faq {
    margin-left: 0.5rem;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 100%;
    padding: 0;
  }

   .btn-faq i {
    font-size: 1.5rem;
    display: inline-block; 
    line-height: 1;
    text-align: center;    
    vertical-align: middle;
  }

  .btn-login {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.5rem;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 100%;
  }
  
  .btn-carrito {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.5rem;
    height: 38px;
    margin-bottom: 3px;
  }
  
  hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  @media (max-width: 768px) {
    header > div {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    #busqueda {
      margin: 0.5rem 0;
    }
    
    .secciones,
    .btn-faq,
    .btn-login,
    .btn-carrito {
      margin: 0.3rem;
    }
  }
  